<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netisafe Demo using Facebook Sample Feed</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/post.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/posts.js') }}"></script>
    <script src="{{ url_for('static',filename='js/netisafe.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="{{ url_for('static',filename='temps/post_content.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
  </head>
  <body>
    <!-- header starts -->
    <div class="header">
      <div class="header__left">
        <img
          src="{{ url_for('static',filename='img/logo.png') }}"
          alt=""
        />
        <div class="header__input">
          <span class="material-icons"> search </span>
          <input type="text" placeholder="Search" />
        </div>
      </div>

      <div class="header__middle">
        <div class="header__option active">
          <span class="material-icons"> home </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> flag </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> subscriptions </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> storefront </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> supervised_user_circle </span>
        </div>
      </div>

      <div class="header__right">
        <div class="header__info">
          <img
            class="user__avatar"
            src={{vars['avatar_img']}}
            alt=""
          />
          <h4>{{vars['user_fullname']}}</h4>
        </div>
        <span class="material-icons"> add </span>
        <span class="material-icons"> forum </span>
        <span class="material-icons"> notifications_active </span>
        <span class="material-icons"> expand_more </span>
        <button class="netisafe_button"  onclick="toggleNetisafe()">
          <div class="tooltip" >                  
          <span style="font-size:small;">NETISAFE PLUGIN ON/OFF </span>
          <span style="color:dodgerblue; font-size:small; margin:0px;" class="material-icons">info</span>
          <span class="tooltiptext tooltip-bottom">You can always turn on/off Netisafe anytime.</span>
          </div>
        </button>
        
        
          
        

        
      </div>
    </div>
    <!-- header ends -->

    <!-- main body starts -->
    <div class="main__body">
      <!-- sidebar starts -->
      <div class="sidebar">
        <div class="sidebarRow">
          <img
            class="user__avatar"
            src={{vars['avatar_img']}}
            alt=""
          />
          <h4>{{vars['user_fullname']}}</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> local_hospital </span>
          <h4>Covid - 19 Information Center</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> emoji_flags </span>
          <h4>Pages</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> people </span>
          <h4>People</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> chat </span>
          <h4>Messenger</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> storefront </span>
          <h4>Marketplace</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> video_library </span>
          <h4>Videos</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> expand_more </span>
          <h4>More</h4>
        </div>
      </div>
      <!-- sidebar ends -->

      <!-- feed starts -->
      <div class="feed">
        <div class="storyReel">
          {% for story in vars['stories'] %}
          <!-- story starts -->          
          <div
            style="background-image: url('{{story['bg_img']}}');"
            class="story"
          >
            <img
              class="user__avatar story__avatar"
              src="{{story['avatar_img']}}"
              alt=""
            />
            <h4>{{story['message']}}</h4>
          </div>
          <!-- story ends -->
          {% endfor %}  
          <!-- story starts -->          
          <div onclick="window.location='https://docs.google.com/forms/d/e/1FAIpQLSd-pMFDmYSKK0B1nrltnYQXPTArKJ9ZNbik-CDNiqFfIZdyeQ/viewform';"
            style="background-image: url('http://jimmychopchop.co.uk/wp-content/uploads/2017/01/survey-header.png');
            background-size:contain; width:80%;"
            class="story"
          >
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSd-pMFDmYSKK0B1nrltnYQXPTArKJ9ZNbik-CDNiqFfIZdyeQ/viewform">
              <img
                class="user__avatar story__avatar"
                src="https://image.pngaaa.com/49/1042049-middle.png"
                alt=""
              />
            </a>
              <h4 style="color: dodgerblue; margin-left:70%;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSd-pMFDmYSKK0B1nrltnYQXPTArKJ9ZNbik-CDNiqFfIZdyeQ/viewform"><u>Give feedback!</u></a></h4>
            
          </div>
          <!-- story ends -->

        </div>

          <!-- message sender starts -->
          <div class="messageSender">
            <div class="messageSender__top">
              <img
                class="user__avatar"
                src={{vars['avatar_img']}}
                alt=""
              />              
                <input class="messageSender__input" placeholder="What's on your mind?" type="text" id="user_post_msg"/>
                <input type="hidden" id="user_fullname" value="{{vars['user_fullname']}}"/>
                <input type="hidden" id="user_avatar_img" value="{{vars['avatar_img']}}"/>
                <button class="netisafe_button" onclick="post_new_post()">Post</button>
            </div>

            <div class="messageSender__bottom">
              <div class="messageSender__option">
                <span style="color: red" class="material-icons"> videocam </span>
                <h3>Live</h3>
              </div>

              <div class="messageSender__option">
                <span style="color: green" class="material-icons"> photo_library </span>
                <h3>Photo</h3>
              </div>

              <div class="messageSender__option">
                <span style="color: orange" class="material-icons"> insert_emoticon </span>
                <h3>Feeling</h3>
              </div>
            </div>
          </div>
          <!-- message sender ends -->
        <div class="full_width_panel" id="target" ></div>        
      </div>
      <!-- feed ends -->
    </div>
    <!-- main body ends -->
    <div id="fb-root"></div> 
    <!-- modal-->
    <div id="popUpmodal" class="modal hide">
      <h2 id="header-popupModal">Welcome to Netisafe demo page!</h2>
      <p>This is Netisafe, a course project prototype offering a solution to empower social media users to create a healthier digital platforms by filtering toxic contents on their social media feed. The underlying machinery is <a href="https://github.com/unitaryai/detoxify">the unitary NLP model</a> that predicts toxic categories of the text posted and apply filtering scheme based on the model prediction. The Facebook-look is intended only to demonstrate how Netisafe works filtering toxic contents and provides explanations to the users. For more information, visit <a href="https://github.com/mansurarief/netisafe">Netisafe github page</a>.</p>
    </div>  
    <div id="notif-toggle" class="modal hide">
      <h2 id="header-popupModal">Netisafe is on</h2>
    </div>  

  </body>
  <script type="text/javascript">
    $(window).on('load', function() {
        $('#popUpmodal').modal('show');
    });
</script>
  <script>
    var list_post = {{post_data | safe}};
    list_post.forEach(element => get_post(element));
  </script>
</html>