<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{vars['user_pagetitle']}}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/post.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body>
    <!-- header starts -->
    <div class="header">
      <div class="header__left">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1200px-Facebook_f_logo_%282019%29.svg.png"
          alt=""
        />
        <div class="header__input">
          <span class="material-icons"> search </span>
          <input type="text" placeholder="Search" />
        </div>
      </div>

      <div class="header__middle">
        <div class="header__option active">
          <span class="material-icons"> home </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> flag </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> subscriptions </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> storefront </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> supervised_user_circle </span>
        </div>
      </div>

      <div class="header__right">
        <div class="header__info">
          <img
            class="user__avatar"
            src={{vars['user_imgsource']}}
            alt=""
          />
          <h4>{{vars['user_fullname']}}</h4>
        </div>
        <span class="material-icons"> add </span>
        <span class="material-icons"> forum </span>
        <span class="material-icons"> notifications_active </span>
        <span class="material-icons"> expand_more </span>
      </div>
    </div>
    <!-- header ends -->

    <!-- main body starts -->
    <div class="main__body">
      <!-- sidebar starts -->
      <div class="sidebar">
        <div class="sidebarRow">
          <img
            class="user__avatar"
            src={{vars['user_imgsource']}}
            alt=""
          />
          <h4>24679 Student</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> local_hospital </span>
          <h4>Covid - 19 Information Center</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> emoji_flags </span>
          <h4>Pages</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> people </span>
          <h4>People</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> chat </span>
          <h4>Messenger</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> storefront </span>
          <h4>Marketplace</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> video_library </span>
          <h4>Videos</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> expand_more </span>
          <h4>More</h4>
        </div>
      </div>
      <!-- sidebar ends -->

      <!-- feed starts -->
      <div class="feed">
        <div class="storyReel">
          <!-- story starts -->
          <div
            style="
              background-image: url('https://images.unsplash.com/photo-1527082395-e939b847da0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
            "
            class="story"
          >
            <img
              class="user__avatar story__avatar"
              src="https://www.shareicon.net/data/2016/05/24/770139_man_512x512.png"
              alt=""
            />
            <h4>Story 1</h4>
          </div>
          <!-- story ends -->

          <!-- story starts -->
          <div
            style="
              background-image: url('https://cellularnews.com/wp-content/uploads/2020/04/Delete-photo-337x600.jpg');
            "
            class="story"
          >
            <img
              class="user__avatar story__avatar"
              src={{vars['user_imgsource']}}
              alt=""
            />
            <h4>Story 2</h4>
          </div>
          <!-- story ends -->

          <!-- story starts -->
          <div
            style="
              background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTBHC2s4NFdzXEsVzvBPGjkrSePQa-8XFuNtQ&usqp=CAU');
            "
            class="story"
          >
            <img
              class="user__avatar story__avatar"
              src={{vars['user_imgsource']}}
              alt=""
            />
            <h4>Story 3</h4>
          </div>
          <!-- story ends -->

          <!-- story starts -->
          <div
            style="
              background-image: url('https://images.unsplash.com/photo-1527082395-e939b847da0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
            "
            class="story"
          >
            <img
              class="user__avatar story__avatar"
              src={{vars['user_imgsource']}}
              alt=""
            />
            <h4>Story 4</h4>
          </div>
          <!-- story ends -->

          <!-- story starts -->
          <div
            style="
              background-image: url('https://cellularnews.com/wp-content/uploads/2020/04/Delete-photo-337x600.jpg');
            "
            class="story"
          >
            <img
              class="user__avatar story__avatar"
              src="https://image.freepik.com/free-vector/businessman-avatar-cartoon-character-profile_18591-50584.jpg"
              alt=""
            />
            <h4>Story 5</h4>
          </div>
          <!-- story ends -->

          <!-- story starts -->
          <div
            style="
              background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTBHC2s4NFdzXEsVzvBPGjkrSePQa-8XFuNtQ&usqp=CAU');
            "
            class="story"
          >
            <img
              class="user__avatar story__avatar"
              src={{vars['user_imgsource']}}
              alt=""
            />
            <h4>Story 6</h4>
          </div>
          <!-- story ends -->
        </div>

        <!-- message sender starts -->
        <div class="messageSender">
          <div class="messageSender__top">
            <img
              class="user__avatar"
              src={{vars['user_imgsource']}}
              alt=""
            />
            <form>
              <input class="messageSender__input" placeholder="What's on your mind?" type="text" />
            </form>
          </div>

          <div class="messageSender__bottom">
            <div class="messageSender__option">
              <span style="color: red" class="material-icons"> videocam </span>
              <h3>Live</h3>
            </div>

            <div class="messageSender__option">
              <span style="color: green" class="material-icons"> photo_library </span>
              <h3>Photo</h3>
            </div>

            <div class="messageSender__option">
              <span style="color: orange" class="material-icons"> insert_emoticon </span>
              <h3>Feeling</h3>
            </div>
          </div>
        </div>
        <!-- message sender ends -->

        <!-- post starts -->
        <div class="post">
          <div class="post__top">
            <img
              class="user__avatar post__avatar"
              src={{vars['user_imgsource']}}
              alt=""
            />
            <div class="post__topInfo">
              <h3>Student 24679</h3>
              <p>22 October 2021 at 20:30</p>
            </div>
          </div>

          <div class="post__bottom">
            <p>Some content of the post. Image below is a cool looking car that the template comes with, but now I also want a car like that.</p>
          </div>

          <div class="post__image">
            <img
              src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80"
              alt=""
            />
          </div>

          <div class="post__options">
            <div class="post__option">
              <span class="material-icons"> thumb_up </span>
              <p>Like</p>
            </div>

            <div class="post__option">
              <span class="material-icons"> chat_bubble_outline </span>
              <p>Comment</p>
            </div>

            <div class="post__option">
              <span class="material-icons"> near_me </span>
              <p>Share</p>
            </div>
          </div>

          <!-- comments begin-->
          <div class="post__comments">

            <div class="comment">            
              <div class="comment__top">
                <img
                  class="user__avatar post__avatar"
                  src={{vars['user_imgsource']}}
                  alt=""
                />
              
                <div class="comment__main">
                  <h3>Student 24679</h3>     
                  <p>This is a comment for the post without image.</p>           
                </div>      
              </div>

              <div class="comment__options">
                <p>Like   &#183; Comment &#183; 14h</p>
              </div>                

            </div>
            <!---a comment ends -->

            <div class="comment">            
              <div class="comment__top">
                <img
                  class="user__avatar post__avatar"
                  src={{vars['user_imgsource']}}
                  alt=""
                />
              
                <div class="comment__main">
                  <h3>Student 24679</h3>     
                  <p>This is a comment for the post without image.</p>           
                </div>      
              </div>

              <div class="comment__options">
                <p>Like   &#183; Comment &#183; 14h</p>
              </div>  
              
            </div>
            <!---a comment ends -->


            <div class="comment">            
              <div class="comment__top">
                <img
                  class="user__avatar post__avatar"
                  src={{vars['user_imgsource']}}
                  alt=""
                />
              
                <div class="comment__input">
                  <form>
                    <input class="messageSender__input" placeholder="What's on your mind?" type="text" />
                  </form>        
                </div>      
              </div>              
              
            </div>
            <!---a comment ends -->

          
          </div>
          <!---comments ends -->

        </div>
        <!-- post ends -->



        <!-- post starts -->
        <div class="post">
          <div class="post__top">
            <img
              class="user__avatar post__avatar"
              src={{vars['user_imgsource']}}
              alt=""
            />
            <div class="post__topInfo">
              <h3>Student 24679</h3>
              <p>20 October 2021 at 20:30</p>
            </div>
          </div>

          <div class="post__bottom">
            <p>This is a post without image.</p>
          </div>

          <div class="post__options">
            <div class="post__option">
              <span class="material-icons"> thumb_up </span>
              <p>Like</p>
            </div>

            <div class="post__option">
              <span class="material-icons"> chat_bubble_outline </span>
              <p>Comment</p>
            </div>

            <div class="post__option">
              <span class="material-icons"> near_me </span>
              <p>Share</p>
            </div>
          </div>
        </div>
        <!-- post ends -->



        <!-- post starts -->
        <div class="post">
          <div class="post__top">
            <img
              class="user__avatar post__avatar"
              src={{vars['user_imgsource']}}
              alt=""
            />
            <div class="post__topInfo">
              <h3>Student 24679</h3>
              <p>20 October 2021 at 20:30</p>
            </div>
          </div>

          <div class="post__bottom">
            <p>This is a post without image.</p>
          </div>

          <div class="post__options">
            <div class="post__option">
              <span class="material-icons"> thumb_up </span>
              <p>Like</p>
            </div>

            <div class="post__option">
              <span class="material-icons"> chat_bubble_outline </span>
              <p>Comment</p>
            </div>

            <div class="post__option">
              <span class="material-icons"> near_me </span>
              <p>Share</p>
            </div>
          </div>

          <!-- comments begin-->
          <div class="post__comments">
            <div class="comment">            
              <div class="comment__top">
                <img
                  class="user__avatar post__avatar"
                  src={{vars['user_imgsource']}}
                  alt=""
                />
              
                <div class="comment__main">
                  <h3>Student 24679</h3>     
                  <p>This is a comment for the post without image.</p>           
                </div>      
              </div>

              <div class="comment__options">
                <p>Like   &#183; Comment &#183; 14h</p>
              </div>                

            </div>
            <!---a comment ends -->

            <div class="comment">            
              <div class="comment__top">
                <img
                  class="user__avatar post__avatar"
                  src={{vars['user_imgsource']}}
                  alt=""
                />
              
                <div class="comment__main">
                  <h3>Student 24679</h3>     
                  <p>This is a comment for the post without image.</p>           
                </div>      
              </div>

              <div class="comment__options">
                <p>Like   &#183; Comment &#183; 14h</p>
              </div>  
              
            </div>
            <!---a comment ends -->

            <div class="comment">            
              <div class="comment__top">
                <img
                  class="user__avatar post__avatar"
                  src={{vars['user_imgsource']}}
                  alt=""
                />
              
                <div class="comment__input">
                  <form>
                    <input class="messageSender__input" placeholder="What's on your mind?" type="text" />
                  </form>        
                </div>      
              </div>              
              
            </div>
            <!---a comment ends -->

          
          </div>
          <!---comments ends -->
        
        </div>
        <!-- post ends -->

      </div>
      <!-- feed ends -->

    </div>
    <!-- main body ends -->

    <div id="fb-root"></div>    
  </body>
</html>