<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netisafe Demo</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/post.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/posts.js') }}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
  </head>
  <body>
    <!-- header starts -->
    <div class="header">
      <div class="header__left">
        <img
          src="{{ url_for('static',filename='img/logo.png') }}"
          alt=""
        />
        <div class="header__input">
          <span class="material-icons"> search </span>
          <input type="text" placeholder="Search" />
        </div>
      </div>

      <div class="header__middle">
        <div class="header__option active">
          <span class="material-icons"> home </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> flag </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> subscriptions </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> storefront </span>
        </div>
        <div class="header__option">
          <span class="material-icons"> supervised_user_circle </span>
        </div>
      </div>

      <div class="header__right">
        <div class="header__info">
          <img
            class="user__avatar"
            src={{vars['avatar_img']}}
            alt=""
          />
          <h4>{{vars['user_fullname']}}</h4>
        </div>
        <span class="material-icons"> add </span>
        <span class="material-icons"> forum </span>
        <span class="material-icons"> notifications_active </span>
        <span class="material-icons"> expand_more </span>
      </div>
    </div>
    <!-- header ends -->

    <!-- main body starts -->
    <div class="main__body">
      <!-- sidebar starts -->
      <div class="sidebar">
        <div class="sidebarRow">
          <img
            class="user__avatar"
            src={{vars['avatar_img']}}
            alt=""
          />
          <h4>{{vars['user_fullname']}}</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> local_hospital </span>
          <h4>Covid - 19 Information Center</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> emoji_flags </span>
          <h4>Pages</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> people </span>
          <h4>People</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> chat </span>
          <h4>Messenger</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> storefront </span>
          <h4>Marketplace</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> video_library </span>
          <h4>Videos</h4>
        </div>

        <div class="sidebarRow">
          <span class="material-icons"> expand_more </span>
          <h4>More</h4>
        </div>
      </div>
      <!-- sidebar ends -->

      <!-- feed starts -->
      <div class="feed">
        <div class="storyReel">
          {% for story in vars['stories'] %}
          <!-- story starts -->          
          <div
            style="background-image: url('{{story['bg_img']}}');"
            class="story"
          >
            <img
              class="user__avatar story__avatar"
              src="{{story['avatar_img']}}"
              alt=""
            />
            <h4>{{story['message']}}</h4>
          </div>
          <!-- story ends -->
          {% endfor %}          
        </div>

          <!-- message sender starts -->
          <div class="messageSender">
            <div class="messageSender__top">
              <img
                class="user__avatar"
                src={{vars['avatar_img']}}
                alt=""
              />              
                <input class="messageSender__input" placeholder="What's on your mind?" type="text" id="user_post_msg"/>
                <button class='get_result'>Post</button>
            </div>

            <div class="messageSender__bottom">
              <div class="messageSender__option">
                <span style="color: red" class="material-icons"> videocam </span>
                <h3>Live</h3>
              </div>

              <div class="messageSender__option">
                <span style="color: green" class="material-icons"> photo_library </span>
                <h3>Photo</h3>
              </div>

              <div class="messageSender__option">
                <span style="color: orange" class="material-icons"> insert_emoticon </span>
                <h3>Feeling</h3>
              </div>
            </div>
          </div>
          <!-- message sender ends -->

        <div class='new_posts'></div>        

        {% for post in vars['posts'] %}
        <!-- post starts -->
        <div class="post">
          <div class="post__top">
            <img
              class="user__avatar post__avatar"
              src={{post['avatar_img']}}
              alt=""
            />
            <div class="post__topInfo">
              <h3>{{post['user_fullname']}}</h3>
              <p>{{post['date_text']}}</p>
            </div>
          </div>

          <div class="post__bottom">

              {% if post['is_filtered'] %}             
                            
              <span class="post__warning">Warning: Post hidden due to condescending remarks</span>
              <label class="collapse" for="filter_{{post['id']}}">Show post ... </label>
              <input id="filter_{{post['id']}}" type="checkbox">
              <div class="post__filtered">

              <div class="post__explanation">
              {% for k,(word, score) in enumerate(post['pred_expl'])%}
                {% if score > thres['exp']%}
                <div class="expl_word"><u>{{word}}</u><div class="expl_score">({{score}})</div></div>
                {% else %}
                <div class="expl_word">{{word}}</div>
                {% endif %}
              {%endfor%}
              </div>

              </div>
              <p></p>
                          
              {%else%}
              
              <div class="post__explanation">
              {% for k,(word, score) in enumerate(post['pred_expl'])%}
                {% if score > thres['exp']%}
                <div class="expl_word"><u>{{word}}</u><div class="expl_score">({{score}})</div></div>
                {% else %}
                <div class="expl_word">{{word}}</div>
                {% endif %}
              {%endfor%}
              </div>
              <p></p>

              {%endif%}

              {% for k,(key, value) in enumerate(post['pred'].items())%}
              {% if post['other_pred_pos'] == k %}
                  {% if k > 0 %}                  
                    <label class="collapse" for="post_{{post['id']}}">Other predictions ... </label>
                    <input id="post_{{post['id']}}" type="checkbox">
                    <div>
                  {% else %}
                      <label class="collapse" for="post_{{post['id']}}">Show predictions ... </label>
                      <input id="post_{{post['id']}}" type="checkbox">
                      <div>
                  {% endif %}
                {% endif%}
              {% if value > thres['high'] %}
              <span class="badge-selected">{{key}} : {{value}}</span>
              {% elif value > thres['moderate'] %}
              <span class="badge-common">{{key}} : {{value}}</span>
              {% else %}
              <span class="badge-default">{{key}} : {{value}}</span>              
              {% endif %}
              {% endfor %}                
              </div>                  
          </div>
          {% if post['has_img'] %}
          <div class="post__image">
            <img
              src="{{post['post_img']}}"
              alt=""
            />
          </div>
          {% endif %}

          <div class="post__options">
            <div class="post__option">
              <span class="material-icons"> thumb_up </span>
              <p>Like</p>
            </div>

            <div class="post__option">
              <span class="material-icons"> chat_bubble_outline </span>
              <p>Comment</p>
            </div>

            <div class="post__option">
              <span class="material-icons"> near_me </span>
              <p>Share</p>
            </div>
          </div>

          {% if post['has_comments'] %}
          <!-- comments begin-->                  
          <div class="post__comments">
            {% for comment in post['comments'] %}
            <!---a comment begins -->
            <div class="comment">            
              <div class="comment__top">
                <img
                  class="user__avatar post__avatar"
                  src={{comment['avatar_img']}}
                  alt=""
                />
                <div class="comment__main">
                  <h3>{{comment['user_fullname']}}</h3>  

                  {% if comment['is_filtered'] %} 

                  <span class="post__warning">Warning: comment hidden due to condescending remarks</span>
                  <label class="collapse" for="filter_comment_{{comment['id']}}">Show post ... </label>
                  <input id="filter_comment_{{comment['id']}}" type="checkbox">
                  <div class="post__filtered">                  

                  <div class="post__explanation">
                  {% for k,(word, score) in enumerate(comment['pred_expl'])%}
                    {% if score > thres['exp'] %}
                    <div class="expl_word"><u>{{word}}</u><div class="expl_score">({{score}})</div></div>
                    {% else %}
                    <div class="expl_word">{{word}}</div>
                    {% endif %}
                  {%endfor%}
                  </div> 
                  </div> 
                  <p></p>
                  {% else %}
                  <div class="post__explanation">
                  {% for k,(word, score) in enumerate(comment['pred_expl'])%}
                    {% if score > thres['exp'] %}
                    <div class="expl_word"><u>{{word}}</u><div class="expl_score">({{score}})</div></div>
                    {% else %}
                    <div class="expl_word">{{word}}</div>
                    {% endif %}
                  {%endfor%}
                  </div> 
                  {% endif %}

                  {% for k, (key, value) in enumerate(comment['pred'].items()) %}
                  {% if comment['other_pred_pos'] == k %}
                    {% if k > 0 %}                    
                      <label class="collapse" for="comment_{{comment['id']}}">Other predictions ... </label>
                      <input id="comment_{{comment['id']}}" type="checkbox">
                      <div>
                    {% else %}
                      <label class="collapse" for="comment_{{comment['id']}}">Show predictions ... </label>
                      <input id="comment_{{comment['id']}}" type="checkbox">
                      <div>
                    {% endif %}
                  {% endif%}
                  {% if value > thres['high'] %}
                  <span class="badge-selected">{{key}} : {{value}}</span>
                  {% elif value > thres['moderate'] %}
                  <span class="badge-common">{{key}} : {{value}}</span>                                      
                  {% else %}
                    <span class="badge-default">{{key}} : {{value}}</span>                  
                  {% endif %}
                  {% endfor %}                    
                    </div>                  
                </div>      
              </div>
            </div>

              <div class="comment__options">
                <p>Like   &#183; Comment &#183; {{comment['time_ago']}}</p>
              </div> 
            <!---a comment ends -->
            {% endfor %}

            <div class="comment">            
              <div class="comment__top">
                <img
                  class="user__avatar post__avatar"
                  src="{{vars['avatar_img']}}"
                  alt=""
                />
              
                <div class="comment__input">
                  <form>
                    <input class="messageSender__input" placeholder="What's on your mind?" type="text" />
                  </form>        
                </div>      
              </div>              
              
            </div>
            <!---a comment ends -->
          
          </div>
          <!---comments ends -->
          {% endif %}

        </div>
        <!-- post ends -->
        {% endfor %}

      </div>
      <!-- feed ends -->

    </div>
    <!-- main body ends -->

    <div id="fb-root"></div>    
  </body>

<script>
  //setup before functions
  var typingTimer;                //timer identifier
  var doneTypingInterval = 5000;  //time in ms (5 seconds)
  var myInput = document.getElementById('user_post_msg');

  //on keyup, start the countdown
  myInput.addEventListener('keyup', () => {
      clearTimeout(typingTimer);
      if (myInput.value) {
          typingTimer = setTimeout(doneTyping, doneTypingInterval);
      }
  });

  //user is "finished typing," do something
  function doneTyping () {
      var val1 = "The current user";
      var val2 = myInput.value;
     $.ajax({
      url: "/fetch_post",
      type: "get",
      data: {val1: val1, val2:val2},
      success: function(response) {
          alert(JSON.stringify(response))
      }           
        });
  }
</script>
</html>